<div class="footer">
    <hr>
    <p class="text-center">
        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>原始版本：携程 框架研发部
        <a href="https://github.com/ctripcorp/apollo" target="_blank">
            <img src="../../img/github.png" style="width: 50px; height: 20px;">
        </a>
    </p>
    <p class="text-center">
        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>fork版本：一点资讯 Serving组
        <a href="https://github.com/hellwhj/apollo" target="_blank">
            <img src="../../img/github.png" style="width: 50px; height: 20px;">
        </a>
    </p>
</div>
<iframe src="/sso_heartbeat" class="hide"></iframe>
